$tokens: (
  color: (
    brand: (
      primary: #000
    ),
    support: (
      white: #fff,
      black: #000,
      grey: #A3B0BA,
      grey-dark: #556A7B,
      grey-medium: #E3E7EA,
      grey-light: #EDF1F5
    )
  ),
  fontSizes: (
    micro: 10,
    xsmall: 12,
    small: 14,
    medium: 16,
    large: 20
  ),
  lineHeights: (
    small: 1.2,
    medium: 1.5,
    large: 1.75,
    xlarge: 2
  ),
  layout: (
    width: (
      xs: 444,
      s: 600,
      m: 960,
      l: 1280,
      xl: 1960
    )
  )
);
