<form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm">
  <h1>Sign up as a new user</h1>
  <div *ngIf="!isCreated">
    <div class="form-row form-row-field">
      <label for="username">
        Account naam*:
      </label>
      <input
        type="text"
        name="username"
        id="username"
        #username="ngModel"
        minlength="4"
        required
        ngModel
      />
      <div *ngIf="username.errors?.required && username.dirty" class="error">
        Naam is verplicht
      </div>
      <div *ngIf="username.errors?.minlength && username.touched" class="error">
        Minimaal 4 karakters
      </div>
    </div>
    <div class="form-row form-row-field">
       <label for="password">
        Wachtwoord*:
      </label>
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="password"
        #password="ngModel"
        [pattern]="passwordPattern"
        minlength="8"
        required
        ngModel
      />
      <div *ngIf="password.errors?.required && password.dirty" class="error">
        Wachtwoord is verplicht
      </div>
      <div *ngIf="password.errors?.minlength && password.touched" class="error">
        Minimaal 8 karakters
      </div>
      <div *ngIf="password.errors?.pattern && password.dirty" class="error">
        Moet ten minste bestaan uit: 1 hoofdletter, 1 kleine letter, 1 nummer of speciaal teken
      </div>
    </div>
    <div class="form-row-action">
      <button type="submit" [disabled]="form.invalid">Sign up</button>
    </div>
  </div>
  <div *ngIf="isCreated" class="success">
    <p>Je account is aangemaakt.</p>
  </div>
  <div *ngIf="saveFailedReason" class="error">
    <p>Opslaan van de gebruiker is gefaald. Reden: "{{ saveFailedReason }}"</p>
  </div>
</form>
