<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-field">
      <app-input [control]="taskForm.get('title')" label="Title" name="title"></app-input>
    </div>
<!--    <div class="form-field">-->
<!--      <app-input label="Start date" name="startDate"></app-input>-->
<!--    </div>-->
<!--    <div class="form-field">-->
<!--      <app-input label="End date" name="endDate"></app-input>-->
<!--    </div>-->
    <button type="submit">Save</button>
  </div>
</form>
