<mat-form-field>
  <mat-label>Order by</mat-label>
  <mat-select [value]="initialSort.property" (selectionChange)="dataSource.sortBy({property: $event.value})">
    <mat-option value="title">Title</mat-option>
  </mat-select>
</mat-form-field>
<mat-button-toggle-group [value]="initialSort.order" (change)="dataSource.sortBy({order: $event.value})">
  <mat-button-toggle value="asc"><mat-icon>arrow_upward</mat-icon></mat-button-toggle>
  <mat-button-toggle value="desc"><mat-icon>arrow_downward</mat-icon></mat-button-toggle>
</mat-button-toggle-group>
<table mat-table [dataSource]="dataSource">
  <!-- column definitions -->
</table>
<mat-paginator *ngIf="dataSource.page$ | async as page"
               [length]="page.totalElements" [pageSize]="page.size"
               [pageIndex]="page.number" [hidePageSize]="true"
               (page)="dataSource.fetch($event.pageIndex)">
</mat-paginator>
